<div class="content-wrapper" style="overflow-y:auto;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{"Service"|translate}}
            <!-- <small>{{"it all starts here"|translate}}</small> -->
            <span *ngIf="successMsg" class="text-green"> {{successMsg}}</span>
            <span *ngIf="errorMsg" class="text-red"> {{errorMsg}}</span>
        </h1>

        <!-- <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{{"Home"|translate}}</a></li>
            <li><a href="#">{{"Service"|translate}}</a></li>
            <li class="active">{{"Add"|translate}}</li>
        </ol> -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
                <partial-service [service]="service"></partial-service>
            <!-- <form service="form" (submit)=" addService()" ngNativeValidate> -->
                <!-- <partial-service [service]="service"></partial-service>
                /.box-body
                /.box-footer -->
            <!-- </form> -->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>