<!-- <div class="content-wrapper">
    Content Header (Page header)
    <section class="content-header">
        <h1>
            {{"Company page"|translate}}
            <small>{{"it all starts here"|translate}}</small>
            <span *ngIf="successMsg" class="text-green"> {{successMsg}}</span>
            <span *ngIf="errorMsg" class="text-red"> {{errorMsg}}</span>
        </h1>
      
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>{{"Home"|translate}}</a></li>
            <li><a href="#">{{"Company"|translate}}</a></li>
            <li class="active">{{"Add"|translate}}</li>
        </ol>
    </section>

    Main content
    <section class="content">

        Default box
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{"Add companys here"|translate}}</h3>

            </div>
            <form #typeForm="ngForm" (submit)="addCompany(typeForm)">
            <form role="form" (submit)="addCompany()" ngNativeValidate>
                <partial-company [company]="company"></partial-company>
                /.box-body
                <div class="box-footer">
                    <button type="submit"  [disabled]="typeForm.invalid" class="btn btn-primary">{{"Submit"|translate}}</button>
                </div>
                /.box-footer
            </form>
        </div>
        /.box

    </section>
    /.content
</div> -->