<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Branch
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border" style="color:black">
                <div class="row">
                    <div class="col-md-3">
                        <ul>
                            <li class="custom-list">
                                <div class="list-title">Employees</div>
                                <div class="glyphicon glyphicon-tag pull-right" style="color:#00c95c"></div>
                            </li>
                            <li class="custom-list">
                                <div  class="list-title">Departments</div>
                                <div class="glyphicon glyphicon-tag pull-right" style="color:#00c95c"></div>                                
                            </li>
                            <li class="custom-list">
                                <div  class="list-title">Services</div>
                                <div class="glyphicon glyphicon-tag pull-right" style="color:#00c95c"></div>                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box -->
        
    </section>
    <!-- /.content -->
</div>