<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Employee page
            <small>it all starts here</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Employees</a></li>
            <li class="active">Add</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Add employees here</h3>

            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Employee Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Employee Name" />
                        </div>
                        <div class="form-group">
                            <label for="txtNationalID">Nationa ID</label>
                            <input type="text" class="form-control" id="txtNationalID" placeholder="Enter National ID" />
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Email</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" />
                        </div>
                        <div class="form-group">
                            <label for="txtDob">Date of Birth</label>
                            <input type="text" class="form-control" id="txtDob" placeholder="Enter DOB" />
                        </div>
                        <div class="form-group">
                            <label for="txtSSN">Socail Security Number</label>
                            <input type="text" class="form-control" id="txtSSN" placeholder="Enter SSN" />
                        </div>

                        <div class="form-group">
                            <label for="ddlWorkHours">Working Hours</label>
                            <select class="form-control" id="ddlWorkHours">
								  <option selected="selected">Hour 1</option>
								  <option>Hour 2</option>
								  <option>Hour 3</option> 
						 </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtContactNo">Contact No.</label>
                            <input type="text" class="form-control" id="txtContactNo" placeholder="Contact No" />
                        </div>
                        <div class="form-group">
                            <label for="ddlRole">Role</label>
                            <select class="form-control" id="ddlRole">
								  <option selected="selected">Role 1</option>
								  <option>Role 2</option>
								  <option>Role 3</option>
								  <option>Role 4</option> 
						 </select>
                        </div>
                        <div class="form-group">
                            <label for="txtTitle">Title</label>
                            <input type="text" class="form-control" id="txtTitle" placeholder="Enter Title" />
                        </div>

                        <div class="form-group">
                            <label>Gender</label>
                            <div class="radio">
                                <label>
						  <input type="radio" name="gender" id="rdFemale" value="false" checked>
						  Female
						</label>

                                <label>
						  <input type="radio" name="gender" id="rdMale" value="true">
						  Male
						</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ddlClinic">Clinic</label>
                            <select class="form-control" id="ddlClinic">
								  <option selected="selected">Clinic 1</option>
								  <option>Clinic 2</option>
								  <option>Clinic 3</option>
								  <option>Clinic 4</option> 
						</select>
                        </div>
                        <div class="form-group">
                            <label for="ddlManager">Manager</label>
                            <select class="form-control" id="ddlManager">
								  <option selected="selected">Manager 1</option>
								  <option>Manager 2</option>
								  <option>Manager 3</option>
								  <option>Manager 4</option> 
					  </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control" id="ddlCountry">
								  <option selected="selected">Turkey</option>
								  <option>China</option>
								  <option>Germany</option>
								  <option>Belgium</option>
								  <option>Iran</option>
								  <option>Russia</option>
								  <option>Italy</option>
								</select>
                        </div>
                        <div class="form-group">
                            <label for="txtCity">City</label>
                            <input type="text" class="form-control" id="txtCity" placeholder="City" />
                        </div>
                        <div class="form-group">
                            <label for="txtTown">Town</label>
                            <input type="text" class="form-control" id="txtTown" placeholder="Town" />
                        </div>
                        <div class="form-group">
                            <label for="txtStreet">Street</label>
                            <input type="text" class="form-control" id="txtStreet" placeholder="Street" />
                        </div>
                        <div class="form-group">
                            <label for="txtCertification">Certification</label>
                            <input type="text" class="form-control" id="txtCertification" placeholder="Certification" />
                        </div>
                        <div class="form-group">
                            <label for="txtEducation">Education</label>
                            <input type="text" class="form-control" id="txtEducation" placeholder="Education" />
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="txtIBAN">Bank Account IBAN</label>
                            <input type="text" class="form-control" id="txtIBAN" placeholder="Enter IBAN" />
                        </div>
                        <div class="form-group">
                            <label for="txtSpeciality">Speciality</label>
                            <input type="text" class="form-control" id="txtSpeciality" placeholder="Speciality" />
                        </div>
                        <div class="form-group">
                            <label for="ddlSkills">Skills</label>
                            <select class="form-control select2" id="ddlSkills" multiple="multiple" data-placeholder="Select skills">
							  <option>Skills 1</option>
							  <option>Skills 2</option>
							  <option>Skills 3</option>
							  <option>Skills 4</option>
							  <option>Skills 5</option>
							  <option>Skills 6</option> 
							</select>
                        </div>
                        <div class="form-group">
                            <label for="txtGraduation">Graduation</label>
                            <input type="text" class="form-control" id="txtGraduation" placeholder="Graduation" />
                        </div>
                        <div class="form-group">
                            <label>Clinic Practice</label>
                            <div class="radio">
                                <label>
						  <input type="radio" name="practice" id="rdYes" value="false" checked>
						  Yes
						</label>

                                <label>
						  <input type="radio" name="practice" id="rdNo" value="true">
						  No
						</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ddlSpouse">Spouse</label>
                            <select class="form-control" id="ddlSpouse">
							<option selected="selected">Patient 1</option>
							<option>Patient 2</option> 
							<option>Patient 3</option> 
							<option>Patient 4</option> 
						</select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>