<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <span class="heading-xs">{{"Department"|translate}}</span>
            <div>
            <button type="button" (click)="deleteDepartmentModal.show()" class="btn btn-danger service-btn-del">
                <i class="fa fa-trash"></i> {{"Delete"|translate}}</button>
            <button type="button" class="add-button" (click)="newDepartment();addModal.show()">
                <i class="fa fa-plus-square-o"></i> {{"New Department"|translate}}</button>
            </div>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                        
                    <!-- <div class="box-header">
                        <h3 class="box-title">{{"All Departments"|translate}} </h3>
                    </div> -->
                    
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tblDepartmentData" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>{{"Name"|translate}}</th>
                                    <th>{{"Action"|translate}}
                                            <input (click)="checkAll()" style="margin-left: 36px" id="checkBox" type="checkbox">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let departmentItem of departments; let last = last">
                                    <td>{{departmentItem.Department_Name}}</td>
                                  
                                    <td>
                                        <button type="button" (click)="changeDepartment(departmentItem);editdepartmentModal.show()" class="btn btn-default">
                                            <i class="glyphicon glyphicon-edit"></i> Edit</button>
                                        <input [checked]="checkedBox" class="check-box" id="checkBox" type="checkbox" [(ngModel)]="departmentItem.selected">
                                    </td>
                                    {{last ? initTable() : ''}}
                                </tr> 
                            </tbody>
                            <tfoot>
                                <tr>
                                        <th>{{"Name"|translate}}</th>
                                        <th>{{"Action"|translate}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
 
<app-modal #deleteDepartmentModal>
    <div class="app-modal-header">
      {{"Confirmation"|translate}}
    </div>
    <div class="app-modal-body">
      {{"Are you sure you want to delete this record ?"|translate}}
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-primary" (click)="deleteDepartments();deleteDepartmentModal.hide()">{{"Yes"|translate}}</button>
      <button type="button" class="btn btn-default" (click)="deleteDepartmentModal.hide()">{{"No"|translate}}</button> 
    </div>
</app-modal>

<app-modal #editdepartmentModal>
        <div class="app-modal-header" >
        </div>
        <div class="app-modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numb">{{"Department"|translate}}</label>
                        <label class="left-pad "> <p *ngIf="Department_Name.invalid && (Department_Name.dirty || Department_Name.touched)" class="text-red">
                                <span *ngIf="Department_Name.errors.required">{{"Enter Department"|translate}}</span>  
                            </p>
                        </label>
                        <input type="text" name="Department_Name" #Department_Name="ngModel" [(ngModel)]="department.Department_Name" class="form-control" placeholder="Enter department" required/>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer">
          <button type="button" class="btn btn-primary" (click)="editDepartment(); isSave? editdepartmentModal.hide():''">Save</button>
          <button type="button" class="btn btn-default" (click)="editdepartmentModal.hide()">Cancel</button> 
        </div>
</app-modal>

<app-modal #addModal class="edit-form-department-style"> 
        <div class="app-modal-header" >
         <h3> {{"Add Department"|translate}} </h3>
        </div>
        <div class="app-modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="numb">{{"Department"|translate}}</label>
                        <input type="text" name="Department_Name" #Department_Name="ngModel" [(ngModel)]="department.Department_Name" class="form-control" placeholder="Enter department" required/>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-modal-footer">
          <button type="button" class="btn btn-primary" (click)="addDepartment(); isSave? addModal.hide():'' ">{{"Save"|translate}}</button>
          <button type="button" class="btn btn-default" (click)="addModal.hide()">{{"Cancel"|translate}}</button> 
        </div>
</app-modal>