<!-- <form>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Provider</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Services</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="exampleFormControlInput1">Custom service name</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="exampleFormControlInput1">Custom service price</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Date</label>
        <input type="date" class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Period</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option label="12:00 am" value="object:40" selected="selected">12:00 am</option>
          <option label="12:15 am" value="object:41">12:15 am</option>
          <option label="12:30 am" value="object:42">12:30 am</option>
          <option label="12:45 am" value="object:43">12:45 am</option>
          <option label="1:00 am" value="object:44">1:00 am</option>
          <option label="1:15 am" value="object:45">1:15 am</option>
          <option label="1:30 am" value="object:46">1:30 am</option>
          <option label="1:45 am" value="object:47">1:45 am</option>
          <option label="2:00 am" value="object:48">2:00 am</option>
          <option label="2:15 am" value="object:49">2:15 am</option>
          <option label="2:30 am" value="object:50">2:30 am</option>
          <option label="2:45 am" value="object:51">2:45 am</option>
          <option label="3:00 am" value="object:52">3:00 am</option>
          <option label="3:15 am" value="object:53">3:15 am</option>
          <option label="3:30 am" value="object:54">3:30 am</option>
          <option label="3:45 am" value="object:55">3:45 am</option>
          <option label="4:00 am" value="object:56">4:00 am</option>
          <option label="4:15 am" value="object:57">4:15 am</option>
          <option label="4:30 am" value="object:58">4:30 am</option>
          <option label="4:45 am" value="object:59">4:45 am</option>
          <option label="5:00 am" value="object:60">5:00 am</option>
          <option label="5:15 am" value="object:61">5:15 am</option>
          <option label="5:30 am" value="object:62">5:30 am</option>
          <option label="5:45 am" value="object:63">5:45 am</option>
          <option label="6:00 am" value="object:64">6:00 am</option>
          <option label="6:15 am" value="object:65">6:15 am</option>
          <option label="6:30 am" value="object:66">6:30 am</option>
          <option label="6:45 am" value="object:67">6:45 am</option>
          <option label="7:00 am" value="object:68">7:00 am</option>
          <option label="7:15 am" value="object:69">7:15 am</option>
          <option label="7:30 am" value="object:70">7:30 am</option>
          <option label="7:45 am" value="object:71">7:45 am</option>
          <option label="8:00 am" value="object:72">8:00 am</option>
          <option label="8:15 am" value="object:73">8:15 am</option>
          <option label="8:30 am" value="object:74">8:30 am</option>
          <option label="8:45 am" value="object:75">8:45 am</option>
          <option label="9:00 am" value="object:76" selected="selected">9:00 am</option>
          <option label="9:15 am" value="object:77">9:15 am</option>
          <option label="9:30 am" value="object:78">9:30 am</option>
          <option label="9:45 am" value="object:79">9:45 am</option>
          <option label="10:00 am" value="object:80">10:00 am</option>
          <option label="10:15 am" value="object:81">10:15 am</option>
        </select>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 22px">
      <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option label="12:00 am" value="object:40" selected="selected">12:00 am</option>
          <option label="12:15 am" value="object:41">12:15 am</option>
          <option label="12:30 am" value="object:42">12:30 am</option>
          <option label="12:45 am" value="object:43">12:45 am</option>
          <option label="1:00 am" value="object:44">1:00 am</option>
          <option label="1:15 am" value="object:45">1:15 am</option>
          <option label="1:30 am" value="object:46">1:30 am</option>
          <option label="1:45 am" value="object:47">1:45 am</option>
          <option label="2:00 am" value="object:48">2:00 am</option>
          <option label="2:15 am" value="object:49">2:15 am</option>
          <option label="2:30 am" value="object:50">2:30 am</option>
          <option label="2:45 am" value="object:51">2:45 am</option>
          <option label="3:00 am" value="object:52">3:00 am</option>
          <option label="3:15 am" value="object:53">3:15 am</option>
          <option label="3:30 am" value="object:54">3:30 am</option>
          <option label="3:45 am" value="object:55">3:45 am</option>
          <option label="4:00 am" value="object:56">4:00 am</option>
          <option label="4:15 am" value="object:57">4:15 am</option>
          <option label="4:30 am" value="object:58">4:30 am</option>
          <option label="4:45 am" value="object:59">4:45 am</option>
          <option label="5:00 am" value="object:60">5:00 am</option>
          <option label="5:15 am" value="object:61">5:15 am</option>
          <option label="5:30 am" value="object:62">5:30 am</option>
          <option label="5:45 am" value="object:63">5:45 am</option>
          <option label="6:00 am" value="object:64">6:00 am</option>
          <option label="6:15 am" value="object:65">6:15 am</option>
          <option label="6:30 am" value="object:66">6:30 am</option>
          <option label="6:45 am" value="object:67">6:45 am</option>
          <option label="7:00 am" value="object:68">7:00 am</option>
          <option label="7:15 am" value="object:69">7:15 am</option>
          <option label="7:30 am" value="object:70">7:30 am</option>
          <option label="7:45 am" value="object:71">7:45 am</option>
          <option label="8:00 am" value="object:72">8:00 am</option>
          <option label="8:15 am" value="object:73">8:15 am</option>
          <option label="8:30 am" value="object:74">8:30 am</option>
          <option label="8:45 am" value="object:75">8:45 am</option>
          <option label="9:00 am" value="object:76" selected="selected">9:00 am</option>
          <option label="9:15 am" value="object:77">9:15 am</option>
          <option label="9:30 am" value="object:78">9:30 am</option>
          <option label="9:45 am" value="object:79">9:45 am</option>
          <option label="10:00 am" value="object:80">10:00 am</option>
          <option label="10:15 am" value="object:81">10:15 am</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-md-9">
        <label for="exampleFormControlInput1">Customer</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>-- Search customers --</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="col-md-3" style="margin-top: 25px">
        <label for="exampleFormControlTextarea1" ></label>
        <a class="btn btn-success" (click)="show();">
          <i class="glyphicon glyphicon-plus"></i>
          New customer
        </a>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px">
    <div class="form-group">
      <div class="col-md-12">
        <label for="exampleFormControlInput1">Send notifications
        </label>
        <i class="glyphicon glyphicon-question-sign"></i>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>-- Search customers --</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-md-12">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Internel note</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
      </div>
    </div>
  </div>

</form>

<app-new-customer #addModal class="show-Emplyee-form-style">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="addModal.hide()"><span aria-hidden="true">×</span></button>
        <div class="modal-title h2">Add New Customer </div>
      </div>
      <div class="app-modal-body show-Emplyee-form-style">
        <form>
          <div class="form-group">
            <label for="wp_user">User</label>
            <select ng-model="form.wp_user_id" class="form-control ng-pristine ng-valid ng-touched" id="wp_user">
              <option value=""></option>
              <option value="2">demo</option>
            </select>
          </div>

          <div class="form-group">
            <label for="full_name">Name</label>
            <input class="form-control ng-pristine ng-valid ng-touched" type="text" ng-model="form.full_name" id="full_name">
            <span style="font-size: 11px;color: red" ng-show="errors.full_name.required" class="ng-hide">Required</span>
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control ng-valid ng-dirty ng-valid-parse ng-touched" type="text" ng-model="form.email" id="email">
          </div>

          <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control ng-pristine ng-valid ng-touched" ng-model="form.notes" id="notes"></textarea>
          </div>

          <div class="form-group">
            <label for="birthday">Date of birth</label>
            <input class="form-control ng-pristine ng-valid hasDatepicker ng-touched" type="text" ng-model="form.birthday" id="birthday" ui-date="dateOptions" ui-date-format="yy-mm-dd" autocomplete="off">
          </div>

        </form>
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn btn-primary" (click)="editModal.hide()">hide</button>
      </div>
    </div>
  </div>
</app-new-customer> -->
