<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Change Password
            <small> </small>
            <span *ngIf="successMsg" class="text-green"> {{successMsg}}</span>
            <span *ngIf="errorMsg" class="text-red"> {{errorMsg}}</span>
        </h1>

        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Profile</a></li>
            <li class="active">Change Password</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Change your password here</h3>

            </div>
        <form #changePassForm="ngForm" (submit)="changePass()" >    
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >Old Password</label>

                            <label *ngIf="oldPass.invalid && (oldPass.dirty || oldPass.touched)" class="alert-danger">
                                <span *ngIf="oldPass.errors.required">Please enter old password.</span>  
                            </label>
                            <input type="password" name="oldPass" #oldPass="ngModel" [(ngModel)]="changePasswordModel.oldPass" class="form-control" placeholder="Enter Old Password" required />
                             
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <label *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)" class="alert-danger">
                                <span *ngIf="newPass.errors.required">Password is required.</span>  
                                <span *ngIf="newPass.errors.minlength">Password should be at least 7 characters long.</span>  
                            </label>

                            <input type="password" name="newPass" #newPass="ngModel" [(ngModel)]="changePasswordModel.newPass" class="form-control" placeholder="Enter New Password" required minlength="7" />
                            
                        </div>
                        <div class="form-group">
                            <label>Reenter New Password</label>
                            
                            <label *ngIf="rePass.invalid && (rePass.dirty || rePass.touched)" class="alert-danger">
                                <span *ngIf="rePass.errors.required">Please reenter new password.</span>  
                            </label>
                            
                            <input type="password" name="rePass" #rePass="ngModel" [(ngModel)]="changePasswordModel.rePass" class="form-control" placeholder="Reenter New Password" required />
                            
                        </div>
                    </div> 
                </div>  
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" [disabled]="changePassForm.invalid" class="btn btn-primary">Save</button>
            </div>
            <!-- /.box-footer-->
        </form>    
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>