<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="assets/img/pediturk-logo.png" alt="Pediturk Logo">
            <br/>
            <!-- <a href="#"><b>Login</b></a>	-->
        </div>
        <!-- /.login-logo -->
        <form #forgetPassForm="ngForm" (submit)="changePass()" >    
        <div class="login-box-body">
            <p class="login-box-msg">Enter your new password below</p>
            <p *ngIf="errorMsg" class="login-box-msg text-red">{{errorMsg}}</p>
            <p *ngIf="successMsg" class="login-box-msg">{{successMsg}}</p>

            <div class="form-group has-feedback">
                    <label>New Password</label>
                    <label *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)" class="alert-danger">
                        <span *ngIf="newPass.errors.required">Password is required.</span>  
                        <span *ngIf="newPass.errors.minlength">Password should be at least 7 characters long.</span>  
                    </label>
                <input type="password" name="newPass" #newPass="ngModel" [(ngModel)]="forgetPasswordModel.newPass" class="form-control" placeholder="Enter New Password" required minlength="7" /> 
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                    <label>Re Enter Password</label>
                    <label *ngIf="rePass.invalid && (rePass.dirty || rePass.touched)" class="alert-danger">
                            <span *ngIf="rePass.errors.required">Password is required.</span>  
                            <span *ngIf="rePass.errors.minlength">Password should be at least 7 characters long.</span>  
                        </label>
                  <input type="password" name="rePass" #rePass="ngModel" [(ngModel)]="forgetPasswordModel.rePass" class="form-control" placeholder="Retype Password" required minlength="7" /> 
                
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">

                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                        <button type="submit" [disabled]="forgetPassForm.invalid" class="btn btn-primary">Save</button>
                    </div>
                <!-- /.col -->
            </div>

        </div>
        <!-- /.login-box-body -->
        </form>
    </div>
    <!-- /.login-box -->

</body>