<div class="content-wrapper">

    <!-- Content Header (Page header) -->
 <!-- Content Header (Page header) -->
   <!-- <section class="content-header">
        <h1>
            Appointment View
            <small>it all starts here</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="">Appointment</a></li>
            <li class="active">View</li>
        </ol>
    </section>
  <br>
  <br>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="view = 'month'"
          [class.active]="view === 'month'">
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="view = 'week'"
          [class.active]="view === 'week'">
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="view = 'day'"
          [class.active]="view === 'day'">
          Day
        </div>
      </div>
    </div>
  </div>

  <br>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day);editModal.show(); "
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>-->
  <app-modals #editModal class="show-Emplyee-form-style" data-backdrop="static" data-keyboard="false" >

    <div class="app-modal-header">
      <div *ngIf="sndEvent">
        <button type="button" class="close" (click)="editModal.hide()"><span aria-hidden="true">×</span></button>
        <div class="modal-title h2">Edit appointment</div>
      </div>
      <div *ngIf="!sndEvent">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-title h2">New appointment</div>
      </div>
    </div>
    <div class="app-modal-body show-Emplyee-form-style">
      <div *ngIf="sndEvent">
            <app-model-form></app-model-form>
          </div>
        </div>
      <div *ngIf="!sndEvent">
        <h1>No body</h1>
      </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-primary" (click)="editModal.hide()">hide</button>
    </div>

  </app-modals>

<!--
  <app-modal #editModal class="modal-map">
    <div class="app-modal-header">
      <div *ngIf="sndEvent">
        <button type="button" class="close" (click)="editModal.hide()"><span aria-hidden="true">×</span></button>
        <div class="modal-title h2">Edit appointment</div>
      </div>
      <div *ngIf="!sndEvent">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="modal-title h2">New appointment</div>
      </div>
    </div>
    <div class="app-modal-body">
      <ngui-map zoom="6" center="39.925533, 32.866287" (mapClick)="onMapClick($event)">
        <marker position="Kayseri, Turkey"></marker>
      </ngui-map>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-primary" (click)="editModal.hide()">hide</button>
    </div>
  </app-modal>
-->

</div>

