<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="assets/img/pediturk-logo.png" alt="Pediturk Logo">
            <br/>
            <!-- <a href="#"><b>Login</b></a>	-->
        </div>
        <!-- /.login-logo -->
       
        <div class="login-box-body">
            <p >Verion 1.0</p>
            <p >Service module updated </p>
            <p >Roles updated </p>
          
        </div>
        <div class="col-xs-8">
            <div class="checkbox icheck">
              <a href="#" routerLink="/login" class="text-center">back to login</a>
            </div>
          </div>
        <!-- /.login-box-body -->
    
    </div>
    <!-- /.login-box -->

</body>